<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Twitter Operations</title>
</head>
<body>
    <div class="navbar">
        <h1>Twitter Operations</h1>
    </div>
    <div class="jumbotron">
        <ul>
            <li><button type="button" class="btn btn-primary" onclick="location.href='/twitter/tweet'">Post tweet</button></li>
            <li><button type="button" class="btn btn-primary" onclick="location.href='/twitter/timed'">Post timed tweet</button></li>
            <li><button type="button" class="btn btn-primary" onclick="location.href='/twitter/timeline'">Get timeline</button></li>
            <li><button type="button" class="btn btn-primary" onclick="location.href='/twitter/expression'">Search for expression</button></li>
            <li><button type="button" class="btn btn-primary" onclick="location.href='/twitter/stream'">Get stream</button></li>
        </ul>
    </div>
    <div class="footer">
        <p>Gergely Flórián Papp, 2018.</p>
    </div>
</body>
</html>