<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Twitter Operations</title>
</head>
<body>
<h1>Twitter Operations</h1>
<ul>
    <li><input type="button" value="Post tweet" onclick="location.href='/twitter/tweet'"/></li>
    <li><input type="button" value="Post timed tweet" onclick="location.href='/twitter/timed'"/></li>
    <li><input type="button" value="Get timeline" onclick="location.href='/twitter/timeline'"/></li>
    <li><input type="button" value="Search for expression" onclick="location.href='/twitter/expression'"/></li>
    <li><input type="button" value="Get stream" onclick="location.href='/twitter/stream'"/></li>
</ul>
</body>
</html>