<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Get twitter stream</title>
</head>
<body>
    <div class="navbar">
        <h1>Twitter Operations</h1>
    </div>
    <div class="jumbotron">
        <form action="#" th:action="@{/twitter/stream}" th:object="${stream}" method="post">
            <h3>Get twitter stream</h3>
            <div class="form-group">
                <label for="filterWord">Filter by expression</label>
                <input type="text" th:field="*{filterWord}" class="form-control" id="filterWord" placeholder="Enter expression">
            </div>
            <div class="form-group">
                <label for="language">Filter by language</label>
                <input type="text" th:field="*{language}" class="form-control" id="language" placeholder="Enter language">
            </div>
            <div class="form-group">
                <label for="streamLength">Length of streaming in minutes</label>
                <input type="text" th:field="*{streamLength}" class="form-control" id="streamLength" placeholder="Enter minutes">
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{putInDB}" class="form-check-input" id="putInDB">
                <label class="form-check-label" for="putInDB">Put results in database</label>
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{useFiltering}" class="form-check-input" id="useFiltering">
                <label class="form-check-label" for="useFiltering">Use filtering</label>
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{uploadPictures}" class="form-check-input" id="uploadPictures">
                <label class="form-check-label" for="uploadPictures">Upload picture to Google Drive</label>
            </div>
            <span>
                    <button type="submit" class="btn btn-primary" >Get tweets</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/twitter/'">Return</button>
            </span>
        </form>
    </div>
    <div class="footer">
        <p>Gergely Flórián Papp, 2018.</p>
    </div>
</body>
</html>