<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Post tweet</title>
</head>
<body>
    <h1>Post tweet</h1>
    <form action="#" th:action="@{/twitter/tweet}" th:object="${tweet}" method="post">
        <label>Tweet:</label>
        <input type="text" th:field="*{text}" />
        <br/>
        <input type="submit" value="Post tweet" />
    </form>
    <input type="button" value="Return" onclick="location.href='/twitter/'"/>
</body>
</html>